<!DOCTYPE html>
<html lang="en">

  <head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-SG3C30KKB7"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-SG3C30KKB7');
    </script>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Padua Realty | Properties</title>
    <meta content name="description">
    <meta content name="keywords">

    <!-- Favicons -->
    <link href="/img/padua-realty-logo-2.png" rel="icon">
    <link href="/img/padua-realty-logo-2.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700"
      rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="/vendor/animate.css/animate.min.css" rel="stylesheet">
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="/css/style.css" rel="stylesheet">

    <!-- FROM PORTFOLIO TEMPLATE -->
    <!-- Vendor CSS Files -->
    <link href="/vendor/aos/aos.css" rel="stylesheet">
    <link href="/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="/css/property.css" rel="stylesheet">

    <!-- =======================================================
  * Template Name: EstateAgency
  * Updated: Jan 29 2024 with Bootstrap v5.3.2
  * Template URL: https://bootstrapmade.com/real-estate-agency-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
  </head>

  <body>

    <!-- ======= Header/Navbar ======= -->
    <nav class="navbar navbar-default navbar-trans navbar-expand-lg fixed-top">
      <div class="container">
        <a class="navbar-brand text-brand" href="/"><img
            src="/img/padua-realty-logo.png"
            style="width: 100px; height: 100px;"></a>

        <div class="justify-content-center" id="navbarDefault">
          <ul class="navbar-nav">

            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>

            <li class="nav-item">
              <a class="nav-link active" href="/properties">Properties</a>
            </li>

            <li class="nav-item">
              <a class="nav-link " href="/agents">Agents</a>
            </li>

            <li class="nav-item">
              <a class="nav-link " href="/about-us">About</a>
            </li>

            <li class="nav-item">
              <a class="nav-link " href="/services">Services</a>
            </li>

            <li class="nav-item">
              <a class="nav-link " href="/contact">Contact</a>
            </li>

          </ul>
        </div>

      </div>
    </nav><!-- End Header/Navbar -->

    <main id="main">
      <!-- ======= Intro Single ======= -->
      <section class="intro-single">
        <div class="container">
          <div class="row">
            <div class="col-md-12 col-lg-8">
              <div class="title-single-box">
                <h1 class="title-single">Our Amazing Properties</h1>
              </div>
            </div>
            <div class="col-md-12 col-lg-4">
              <nav aria-label="breadcrumb"
                class="breadcrumb-box d-flex justify-content-lg-end">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item">
                    <a href="/">Home</a>
                  </li>
                  <li class="breadcrumb-item active" aria-current="page">
                    Properties
                  </li>
                </ol>
              </nav>
            </div>
          </div>
        </div>
      </section><!-- End Intro Single-->

      <!-- ======= Portfolio Section ======= -->
      <section id="portfolio" class="portfolio">
        <div class="container">

          <div class="row">
            <div class="col-lg-12 d-flex justify-content-center"
              data-aos="fade-up">
              <ul id="portfolio-flters">
                <li data-filter="*" class="filter-active">All</li>
                <li data-filter=".filter-app">Luzon</li>
                <li data-filter=".filter-card">Visayas</li>
                <li data-filter=".filter-web">Mindanao</li>
              </ul>
            </div>
          </div>

          <div class="row portfolio-container" data-aos="fade-up"
            data-aos-delay="100">
            {{#each mindanao}}
            <div class="col-lg-4 col-md-6 portfolio-item filter-web">
              <img src="data:image/jpeg;base64,{{this.image}}" class="img-fluid" alt>
              <div class="portfolio-info">
                <h4>{{this.name}}</h4>
                <p>{{this.status}}</p>
                <a href="/properties/{{this._id}}" class="details-link"
                  title="More Details"><i class="bx bx-link-external"></i></a>
              </div>
            </div>
            {{/each}}

            {{#each luzon}}
            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
              <img src="data:image/jpeg;base64,{{this.image}}" class="img-fluid" alt>
              <div class="portfolio-info">
                <h4>{{this.name}}</h4>
                <p>{{this.status}}</p>
                <a href="/properties/{{this._id}}" class="details-link"
                  title="More Details"><i class="bx bx-link-external"></i></a>
              </div>
            </div>
            {{/each}}

            {{#each visayas}}
            <div class="col-lg-4 col-md-6 portfolio-item filter-card">
              <img src="data:image/jpeg;base64,{{this.image}}" class="img-fluid" alt>
              <div class="portfolio-info">
                <h4>{{this.name}}</h4>
                <p>{{this.status}}</p>
                <a href="/properties/{{this._id}}" class="details-link"
                  title="More Details"><i class="bx bx-link-external"></i></a>
              </div>
            </div>
            {{/each}}

          </div>

        </div>
      </section><!-- End Portfolio Section -->

    </main><!-- End #main -->

    <!-- ======= Footer ======= -->
    <section class="section-footer">
      <div class="container">
        <div class="row">
        </div>
      </div>
    </section>
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="copyright-footer">
              <p class="copyright color-text-a">
                &copy; Copyright
                <span class="color-a">PaduaRealty</span> All Rights Reserved.
              </p>
            </div>
            <div class="credits">
              <!--
            All the links in the footer should remain intact.
            You can delete the links only if you purchased the pro version.
            Licensing information: https://bootstrapmade.com/license/
            Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=EstateAgency
            -->
              Designed by <a href>2324STSSWENGS14</a>
            </div>
             <div class="credits">
            <!--
            All the links in the footer should remain intact.
            You can delete the links only if you purchased the pro version.
            Licensing information: https://bootstrapmade.com/license/
            Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=EstateAgency
            -->
            Admin Login <a href="/admin/login">Here</a>
          </div>
        </div>
      </div>
    </footer><!-- End  Footer -->

    <div id="preloader"></div>
    <a href="#"
      class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="/js/main.js"></script>

    <!-- FROM PORTFOLIO TEMPLATE -->
    <!-- Vendor JS Files -->
    <script src="/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="/vendor/aos/aos.js"></script>
    <script src="/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="/vendor/isotope-layout/isotope.pkgd.min.js"></script>

    <!-- Template Main JS File -->
    <script src="/js/property.js"></script>

  </body>

</html>